<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468132708874-agbmk3rhaj6p45ilgme15e4bukpljfm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468132708874-agbmk3rhaj6p45ilgme15e4bukpljfm0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>468132708874-baiu10qdneok9k0jh637hsr5i76139g4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBrS8Uy0ePdLfoohxkiFZsL_6JzxorQ5s</string>
	<key>GCM_SENDER_ID</key>
	<string>468132708874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sougdan.customer</string>
	<key>PROJECT_ID</key>
	<string>sougdan-f3a28</string>
	<key>STORAGE_BUCKET</key>
	<string>sougdan-f3a28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468132708874:ios:dfc3efc19ea170f1acd5f3</string>
	<key>DATABASE_URL</key>
	<string>https://sougdan-f3a28-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>